# .NET Core and .NET Framework
## Build results
[Dd]ebug/
[Rr]elease/
x64/
bin/
obj/

## Visual Studio files
*.user
*.suo
*.sln.docstates
*.sln.ide
*.suo
*.csproj.user
*.vcxproj.filters
*.vcxproj.user
*.vspscc
*.vssscc
*.pdb
*.cache
*.vsp
*.psess
*.vspf
*.userprefs
*.scc

## Resharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings
